*.dll
*.exp
*.lib
*.pdb
*.idb
*.def
*.exe
*.zip
*.love
dist/
.~*
.\#*
\#*
*~
*.o
main
*.so
*.dylib
__pycache__
minecraft/region*.lights.vtx
minecraft/region*.dump
minecraft/gen/map.txt
test.pack
pack_main